pandas
numpy
duckdb
scikit-learn
scipy
statsmodels
matplotlib
seaborn
plotly

jupyter
notebook
ipykernel

streamlit

textblob
spacy
nltk

shap

xgboost
lightgbm

openai
langchain
langchain-community
faiss-cpu

python-dotenv

tqdm
joblib
